body {
	  background-color: #eff5f5;	
	}
	
header {
	margin: 0px 0px 0px 0px;
    padding: 5px 0px 0px 0px; 
    background-color: #d0e2e2;
    background-image: url("cow4.png");
	background-repeat: no-repeat;
	height: 224px;
	width: 100%;
	background-position: 1cm 0cm;
	border-style: hidden;
	border-radius: 10px;
	
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 3px solid #e7e7e7;
	border-radius: 10px;
    background-color: #f3f3f3;
}

li.nav {
    float: left;
	border-right: 3px solid #d9d9d9;
}

li.nav a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

li.nav a:hover:not(.active) {
    background-color: #ddd;
}

li.nav a.active {
    color: white;
    background-color: #99b3e6;
}	
	

	