body {
	  background-color: #eff5f5;	
	}
	
header {
	margin: 0px 0px 0px 0px;
    padding: 5px 0px 0px 0px; 
    background-color: #d0e2e2;
    background-image: url("cow-header-new.png");
	background-repeat: no-repeat;
	height: 220px;
	width: 100%;
	background-position: top right;
	border-style: hidden;
	border-radius: 10px;
}

header img {
    padding: 20px 5px;
	height: 180px;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 3px solid #e7e7e7;
	border-radius: 10px;
    background-color: #f3f3f3;
}

li.nav {
    float: left;
	border-right: 3px solid #d9d9d9;
}

@media screen and (max-width: 1220px) {		/*responsive Layout: Navigationsbar*/
    li.nav{
        float: none;
        width: 100%;
		border:none;
    }
	
	header{
	background-image:none;
	}
	
}

@media screen and (max-width: 850px) {
	header {
	height: 70px;
	}

	header img {
	display:block;
	padding: 0px 0px;
	margin-left: auto;
    margin-right: auto;
	width:220px;
	height:60px;
	}
}

li.nav a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

li.nav a:hover:not(.active) {
    background-color: #ddd;
}

li.nav a.active {
    color: white;
    background-color: #99b3e6;
}	
	

	